<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'pages' %>
  <title>Yatoi_home</title>

</head>
<body>
  <header>
    <div class="color-line">
    </div>
    <div class="header-line"><h1>header</h1></div>
  </header>

  <main>
    <div><h1>main</h1></div>
  </main>

  <footer>
    <div><h1>footer</h1></div>
  </footer>
    <div class="color-line">
    </div>
</body>
</html>